*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  background-color: hsl(270, 20%, 96%);
  /* position: relative; */
}
svg {
  width: 3rem;
  height: 4rem;
  stroke: #fff;
  color: #fff;
}

p {
  font-size: 1.5rem;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bg {
  position: absolute;
}

.bg_uno {
  width: 95rem;
  height: 120rem;
  top: 0;
  /* left: -2%; */
  border-radius: 0 0 100rem 90rem;
  background: linear-gradient(
    to right,
    hsl(264, 100%, 61%),
    hsl(293, 100%, 63%)
  );
}

.bg_dos {
  width: 60rem;
  height: 110rem;
  bottom: 0;
  right: 0;
  background-color: hsla(276, 100%, 81%, 0.072);
  border-radius: 45rem 0 0 0;
}

.chat {
  width: fit-content;
  height: 100rem;
  border: solid 17px hsl(0, 100%, 100%);
  border-radius: 6rem;
  background-color: hsl(270, 20%, 96%);
  box-shadow: 0 20px 30px 20px hsla(271, 36%, 24%, 0.033);
}

.chat_head {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20rem;
  border-radius: 4rem 4rem 1rem 1rem;
  background: linear-gradient(
    to right,
    hsl(264, 100%, 61%),
    hsl(293, 100%, 63%)
  );
  height: 12rem;

  margin-bottom: 2rem;
  box-shadow: -2px 5px 15px 0 hsla(271, 36%, 24%, 0.322);
}
.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.pro {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.profile_img {
  width: 5rem;
  height: auto;
  border: solid 2px hsl(0, 100%, 100%);
  border-radius: 50%;
}

.profile_name {
  color: #fff;
  font-size: 1.8rem;
}

.profile_text {
  font-size: 1.4rem;
  color: hsl(276, 100%, 81%);
}

.dog_img img {
  width: 7rem;
  height: auto;
}

.info h1 {
  font-size: 5rem;
  margin-bottom: 2rem;
  color: hsl(271, 36%, 24%);
}

.info p {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.7;
  color: hsl(270, 7%, 64%);
  /* letter-spacing: 1px; */
  text-align: left;
}
.replies {
  text-align: right;
}
