*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: "Rubik", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: hsl(270, 20%, 96%);
  /* position: relative; */
}
svg {
  width: 3rem;
  height: 4rem;
  stroke: #fff;
  color: #fff;
}

/* p {
  font-size: 1.5rem;
} */

main {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  gap: 20rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bg {
  position: absolute;
}

.bg_uno {
  width: 95rem;
  height: 120rem;
  top: 0;
  /* left: -2%; */
  border-radius: 0 0 100rem 90rem;
  background: linear-gradient(
    to right,
    hsl(264, 100%, 61%),
    hsl(293, 100%, 63%)
  );
}

.bg_dos {
  width: 60rem;
  height: 110rem;
  bottom: 0;
  right: 0;
  background-color: hsla(276, 100%, 81%, 0.072);
  border-radius: 45rem 0 0 0;
}

.box {
  width: 30rem;
  height: 6rem;
  background-color: #fff;
  position: absolute;
  border-radius: 0.2rem 0.2rem 3rem 3rem;
  top: -1.8%;
  left: 20%;
}

.chat {
  width: 50%;
  height: auto;
  border: solid 15px hsl(0, 0%, 97%);
  border-radius: 6rem;
  background-color: hsl(270, 20%, 96%);
  box-shadow: 0 20px 30px 20px hsla(271, 36%, 24%, 0.033);
  position: relative;
}

.chat_head {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 17rem;
  border-radius: 4rem 4rem 1rem 1rem;
  background: linear-gradient(
    to right,
    hsl(264, 100%, 61%),
    hsl(293, 100%, 63%)
  );
  height: 14rem;
  padding: 5em 1em 1em 1em;
  /* margin-bottom: 2rem; */
  box-shadow: -4px 5px 15px 0 hsla(271, 36%, 24%, 0.322);
}

.chat_body {
  padding: 2em 1.5rem 1.5rem 1.5rem;
  border: 2px ridge hsla(268, 7%, 64%, 0.103);
  border-top: none;
  border-radius: 0 0 2.8rem 2.8rem;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.pro {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.profile_img {
  width: 5rem;
  height: auto;
  border: solid 2px hsl(0, 100%, 100%);
  border-radius: 50%;
}

.profile_name {
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
}

.profile_text {
  font-size: 1.5rem;
  color: hsl(276, 100%, 81%);
}

.dog_img {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.dog_img img {
  width: 8rem;
  height: auto;
  border-radius: 2rem;
}

.info {
  width: 50%;
}

/* .info_h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
} */
.info h1 {
  font-size: 5.5rem;
  margin-bottom: 2rem;
  color: hsl(271, 36%, 24%);
}

.info p {
  font-size: 1.8rem;
  /* font-weight: 500; */
  line-height: 1.8;
  letter-spacing: 1px;
  color: hsl(270, 7%, 64%);
  /* letter-spacing: 1px; */
  text-align: left;
}
.replies {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  /* gap: 0.5rem; */

  /* text-align: right; */
}

.send {
  width: 29rem;
  height: auto;
  background-color: hsla(271, 36%, 24%, 0.082);
  margin-bottom: 2rem;
  padding: 1em;
  font-size: 1.7rem;
  font-weight: 550;
  color: hsl(276, 55%, 52%);
  border-radius: 1.5rem 1.5rem 1.5rem 0rem;
}

.reply {
  width: fit-content;
  height: auto;
  background-color: #fff;
  color: hsl(270, 7%, 64%);
  text-align: left;
  font-size: 1.7rem;
  font-weight: 550;
  padding: 1em 1.2em;
  border-radius: 2rem 2rem 0rem 2rem;
  box-shadow: 1px 10px 15px 0 hsla(271, 36%, 24%, 0.11);
  margin-bottom: 4rem;
}

.reply:last-child {
  margin-top: -3.2rem;
  padding: 1em 1em;
}

.chat_radio {
  margin-bottom: 3rem;
}

.radio {
  width: 30rem;
  height: 7rem;
  padding: 0em 1.2em;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  background: linear-gradient(
    to right,
    hsl(264, 100%, 61%),
    hsl(293, 100%, 63%)
  );
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 1.9rem 1.9rem 1.9rem 0.2rem;
}

.radio h3 {
  color: #fff;
  font-size: 2.5rem;
}

input[type="radio"] {
  display: none;
}

label {
  position: relative;
  padding-left: 3em;
  color: hsl(276, 100%, 81%);
  font-size: 1.6rem;
  font-weight: 600;
  /* cursor: pointer; */
}

label::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  width: 3rem;
  height: 3rem;
  margin-top: -0.5rem;
  border: solid 2px hsl(289, 100%, 72%);
  border-radius: 50%;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  color: hsl(206, 6%, 79%);
  width: 100%;
  height: 6rem;
  padding: 1.5em;
  border: 1px ridge hsla(206, 7%, 79%, 0.315);
  border-radius: 4rem;
}

.chat_box p {
  font-size: 1.6rem;
  font-weight: 500;
  padding-left: 1em;
}

.chat_btn {
  background-color: hsl(271, 36%, 24%);
  width: 4.2rem;
  height: 4.2rem;
  text-align: center;
  border-radius: 50%;
}

@media (max-width: 760px) {
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
  }
  html {
    font-size: 50%;
  }

  .bg {
    /* position: absolute; */
    height: 50%;
    width: 50%;
  }

  .bg_uno {
    width: 40rem;
    left: -10%;
  }

  main {
    flex-direction: column;
    gap: 6rem;
  }

  .box {
    left: 22%;
    width: 20rem;
    height: 4rem;
    border-radius: 0.2px 0.2px 10px 10px;
  }

  .chat {
    /* height: 50%; */
    width: 40rem;
    height: 75rem;
    border-width: 10px;
  }

  .chat_head {
    height: 8rem;
    padding: 6em 1em 3em 1em;
    gap: 10rem;
  }

  svg {
    width: 2rem;
  }

  .profile_img {
    width: 4rem;
    height: auto;
    border-width: 0.5px;
  }
  .profile_name {
    font-size: 1.5rem;
  }
  .profile_text {
    font-size: 1.3rem;
  }

  /* .chat_body {
    height: auto;
  } */

  .send {
    font-size: 1.3rem;
    width: 21rem;
    padding: 0.7em;
  }

  .send_tres {
    margin-bottom: 0.5rem;
  }

  .dog_img img {
    width: 5rem;
    height: auto;
  }

  .reply {
    font-size: 1.2rem;
    padding: 0.8rem;
    margin-bottom: 0.5rem;
  }

  .reply_uno {
    margin-bottom: 3rem;
  }

  .radio {
    width: 23rem;
    height: 4.4rem;
    margin-bottom: 1.5rem;
  }

  label {
    font-size: 8px;
    padding-left: 2.5em;
  }

  label::before {
    width: 2rem;
    height: 2rem;
    top: 50%;
    left: 0;
    border-width: 1px;
    margin-top: -1rem;
  }

  .radio h3 {
    font-size: 1.8rem;
  }

  .info {
    width: 100%;
    text-align: center;
    /* height: 50%; */
  }

  .info h1 {
    font-size: 5rem;
  }

  .info p {
    text-align: center;
    letter-spacing: normal;
    font-size: 2rem;
    font-weight: 550;
    line-height: 2;
  }
}
